*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to right, grey , pink);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-family: sans-serif;
    font-weight: 800;
    margin: 15px 0;
}
.container{
    display: flex;
}
.container .section{
    width: 150px;
    margin: 10px 10px;
}
.section .info{
    background: rgb(10, 10, 10);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width:150px;
}
.info span , .info h3{
    font-size: 25px;
    font-weight: bold;
    margin: 0px 5px;
    font-family: sans-serif;
    color: white;
}
.show{
    display: flex;
    align-items: center;
    justify-content: center;
    background : rgb(41, 40, 40);
    height: 120px;
}
.show i{
    font-size: 100px;
    color: orange;
}
h2{
    font-family: sans-serif;
    font-weight: bold;
    padding: 5px;
}
.selection{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 100px;
}
.selection button{
    margin: 0 10px;
    padding: 25px;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    background : rgb(41, 40, 40);
    font-size: 33px;
    color: orange;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nav h1,
.slider h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 5vw;
  margin: 0;
  padding-bottom: 0.5rem;
  letter-spacing: 0.5rem;
  color: #03dac6;
  transition: all 0.3s ease;
  z-index: 3;
}
h1:hover {
  transform: translate3d(0, -10px, 22px);
  color: #ff0266;
}
body {
  font-family: "ROBOTO", sans-serif;
}
